:root {
       background-color: #1E1E1E;
}
body {
    /* font-family: Roboto, sans-serif; */
    color:#434455;
    /* background-color:#fff; */
    font-family: "Gothic A1", sans-serif;
    background-color: #1E1E1E;
} 
.container {
    /* width: 375px; */
/* height: 705px; */
margin-left: auto;
margin-top: 0;
margin-right: auto;


}
.svg {
    border: 1px solid #000;
width: 90px;
height: 90px;
}
ul,ol {
    list-style-type: none;
    padding-left: 0;
}
a {
    text-decoration:none;
}
.contacts {
    font-style: normal;
}
.header {
    padding-top: 53px;
height: 812px;

text-align: center;
background-image: url("/images/back.png"); /* шлях до фото */
  background-size: cover;       /* щоб фото розтягувалося на весь екран */
  background-position: center;  /* вирівнювання по центру */
  background-repeat: no-repeat; /* щоб не повторювалось */
}
.header-container {
    height: 705px;
    width: 300px;
    margin-left: auto;
margin-right: auto;
}
.header-div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 67px;
    margin-left: auto;
margin-right: auto;
height: 26px;
}
.tel-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.tel-mail:focus,
.tel-mail:hover {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#404bbf;
}

 
.st-section {
    background-color:#2e2f42;
}
.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff; 
}
button {
    cursor:pointer;
    
} 
.order-button {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color:#4D5AE5;
}

.order-button:focus,
.order-button:hover {
background-color:#404BBF;
}
a {
    color:#2E2F42;

}
.logo-container {
      display: flex;
flex-wrap: wrap;
}
.logo {
 font-family: var(--font-family);
font-weight: 700;
font-size: 10px;
text-transform: uppercase;
color: #777;
 display: flex;
flex-wrap: nowrap;

  /* margin-left: auto;
margin-right: auto;
width: 67px;
height: 26px; */
  /* display: flex;
flex-wrap: wrap; */
}
.logo-part {
font-family: var(--font-family);
font-weight: 700;
font-size: 10px;
text-transform: uppercase;
color: #db944b;
}
.nav-list {
  display: flex;
flex-wrap: nowrap;
padding-bottom: 40px;
}
 .nav-list .header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-item:hover {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    color: #404bbf;
}
.header-item:focus {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    color: #404bbf;
}
.title-header {
font-family: var(--font-family);
font-weight: 600;
font-size: 32px;
text-align: center;
color: #fff;
padding-bottom: 44px;
margin: 0;
}
.header-list {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 300px;
    padding: 22px 0;
    margin-top: 0;
    margin-bottom: 60px;
}
.information-header {
  font-family: "Gothic A1", sans-serif;
  font-weight: 200;
  font-style: normal;
font-size: 20px;
text-align: center;
color: #fff;
margin: 0;

text-align: center;
}
.btn-header {
    border-radius: 20px;
padding: 10px 46px;
width: 250px;
height: 50px;
background: linear-gradient(81deg, #110d01 3.89%, #ffd769 46.2%, #9c7200 73.74%, #9c7200 83.05%);
font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #fff;
}


/* ------------------------------------------------------ */
.quiz-list {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin: 0;
}
.list-card {
   margin-right: auto;
margin-left: auto; 
padding-left: 0;
margin-top: 0;
 background-color: #1E1E1E;
}
.card {
    border: 1px solid #9c7200;
border-radius: 20px;
width: 290px;
height: 515px;
background: #0f0f0f;
  margin-right: auto;
margin-left: auto; 

}
.card-div-quiz {
  display: flex;
    flex-wrap: nowrap;
 
    flex-direction: row;
    width: 67px;
    /* margin-left: auto; */
margin-right: auto;
height: 26px;  
}
   .logo-container-card {
          display: flex;
flex-wrap: wrap;
   }
   .logo-part-card {
    font-family: var(--font-family);
font-weight: 700;
font-size: 10px;
text-transform: uppercase;
color: #db944b;
   }
.card-div {
  display: flex;
    flex-wrap: nowrap;
 
    flex-direction: row;
    width: 67px;
    /* margin-left: auto; */
margin-right: auto;
height: 26px;  
}
.container-card {
    width: 242px;
height: 469px;
padding-left: 24px;
padding-right: 24px;
padding-top: 24px;
padding-bottom: 30px;
margin-right: auto;
margin-left: auto;
}
.card-logo {
    /* margin-right: auto; */
 font-family: var(--font-family);
font-weight: 700;
font-size: 10px;
text-transform: uppercase;
color: #777;
 display: flex;
flex-wrap: nowrap;
}
.container-data {
margin-right: auto;
margin-left: auto;
}
.title-card {
    font-family: var(--font-family);
font-weight: 600;
font-size: 15px;
text-align: center;
color: #fff;
}
.img-card {
    border-radius: 10px;
width: 200px;
height: 155px;
margin-right: 21px;
margin-left: 21px;
padding-bottom: 20px;
}
.list-input {
padding-bottom: 15px;
}
/* input {
    border-radius: 10px;
padding: 5px 10px;
width: 242px;
height: 25px;
background: #4d4d4d;

font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
color: #fff;
} */
.radio-label {
  display: flex;
  align-items: center;
  gap: 8px; /* відстань між кружечком і текстом */
  cursor: pointer;
  background: #4d4d4d;
  border-radius: 10px;
  padding: 5px 10px;
  width: 222px;
  margin-top: 0;
  margin-bottom: 5px;
  /* margin: 5px 0; */

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}

/* ховаємо стандартний інпут */
.radio-label input {
  display: none;
}

/* сам кружечок */
.custom-radio {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bebebe;
  flex-shrink: 0; /* щоб не стискався */
}

/* коли вибраний */
.radio-label input:checked + .custom-radio {
  background: #db944b;
}
.svg-quiz {
    margin-left: auto;
    margin-right: auto;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ------------------------------------------- */

.footer-container {
    min-width: 320px;
/* height: 378px; */
background: linear-gradient(129deg, #4e3a00 0%, #debf6c 100%);
margin-top: 28px;
padding-bottom:28px;
}
.footer-div {
    
     display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
   width: 105px;
    margin-left: auto;
margin-right: auto;
height: 26px;
padding-top: 28px;
padding-bottom: 21px;
}
.footer-logo {
     font-family: var(--font-family);
font-weight: 700;
width: 105px;
font-size: 10px;
text-transform: uppercase;
color: #777;
 display: flex;
flex-wrap: nowrap;
align-items: center;

/* justify-content: center; */
}
.logo-container-footer {
font-family: var(--font-family);
font-weight: 800;
font-size: 16px;
text-transform: uppercase;
color: #000;
 display: flex;
    flex-wrap: wrap;
}
.logo-part-footer {
 font-family: var(--font-family);
font-weight: 800;
font-size: 16px;
text-transform: uppercase;
color: #ffa600;
}
.text-footer {
    font-family: var(--font-family);
font-weight: 500;
font-size: 13px;
margin: 0;
padding: 0 0 5px 0;
text-align: center;
color: #fff;
}
.text-h3 {
    font-family: var(--font-family);
font-weight: 300;
font-size: 11px;
margin: 0;
text-align: center;
color: #fff;
padding-top: 15px;
}
.text-container {
    /* display: flex;
    flex-direction: column;
    gap: 21px; */
    width:265px;
    text-align: center;
        margin-left: auto;
margin-right: auto;
padding-bottom: 40px;
}
.form-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
            margin-left: auto;
margin-right: auto;
padding-bottom: 30px;
}
.input-footer {
    border: 0;
border-radius: 20px;
padding-left: 15px;
padding-top: 4px;
padding-bottom: 4px;
/* padding: 4px ; */
width: 200px;
/* height: 5px; */
background: #d0c9b6;
font-family: var(--font-family);
font-weight: 300;
font-size: 10px;
color: #202020;
/* transform: rotate(90deg); */
}
.input-footer::placeholder {
    font-family: var(--font-family);
font-weight: 300;
font-size: 10px;
/* padding-left: 15px; */
color: #202020;
}
.btn-submit {
    border-radius: 10px;
padding: 5px 22px;
width: 200px;
height: 30px;
background: linear-gradient(56deg, #0d0d0d 15.35%, #4c4c4c 100%);
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
color: #d9d9d9;
display: flex;
    margin-left: auto;
margin-right: auto;
/* margin-bottom: 28px; */
}


@media screen and (min-width: 1024px) {
    .header {
        height: 1022px;
        padding-top: 0;
    }
    .header-container {
        width: 1214px;
        padding-top: 45px;
    }
    .header-div {
        width: 276px;
height: 111px;
margin: 0;

    }
    .container-card {
        width: 1100px;
    }
    .logo-container {
font-family: var(--font-family);
font-weight: 700;
font-size: 40px;
text-transform: uppercase;
color: #777;
    }
    .logo-part {
        font-family: var(--font-family);
font-weight: 800;
font-size: 40px;
text-transform: uppercase;
color: #db944b;
    }
    .logo {
        width: 90px;
height: 81px;
    }
    .container-card {
        height: 880px;
        padding-top: 45px;
    }
    .header-list {
        width: 775px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 126px;
    }
    .title-header {
        font-family: var(--font-family);
font-weight: 700;
font-size: 64px;
text-align: center;
color: #fff;
padding-bottom: 30px;
    }
    .information-header {
        font-family: var(--font-family);
font-weight: 275;
font-size: 30px;
width: 775px;
text-align: center;
color: #fff;
    }
    .btn-header {
        border-radius: 20px;
padding: 14px 61px;
width: 440px;
height: 90px;
font-family: var(--font-family);
font-weight: 700;
font-size: 48px;
color: #fff;
    }
   .card {
        width: 1214px;
        height: 880px;
    }
    .card-logo {
        width: 71px;
        height: 69px;
       padding: 0;
    }
    .card-div-quiz {
  display: flex;
    flex-wrap: nowrap;
    width:186px;
    height: 92px;
    padding-bottom: 50px;
    margin-bottom: 50px;
 
    flex-direction: row;
    /* width: 67px; */
    /* margin-left: auto; */
margin-right: auto;
height: 26px;  
}
   .logo-container-card {
          display: flex;
flex-wrap: wrap;
font-family: var(--font-family);
font-weight: 800;
font-size: 24px;
text-transform: uppercase;
color: #777;
   }
   .logo-part-card {
font-family: var(--font-family);
font-weight: 800;
font-size: 24px;
text-transform: uppercase;
color: #db944b;
   }
   .title-card {
    font-family: var(--font-family);
font-weight: 600;
font-size: 40px;
color: #fff;
margin: 0;
padding-bottom: 75px;
   }
   .list-input {
    width: 653px;
    margin-right: auto;
   }
   .position-card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
   }
   .radio-label {
    border-radius: 20px;
padding: 12px 44px;
/* width: 567px; */
width: 615px;
height: 41px;
background: #2c2c2c;
font-family: var(--font-family);
font-weight: 400;
font-size: 30px;
color: #fff;
margin-bottom: 40px;
display: flex;
flex-wrap: nowrap;
   }
   .img-card {
    border-radius: 20px;
width: 386px;
height: 388px;
margin-left: auto;
margin-right: 0;
   }
   .custom-radio {
    width: 25px;
    height: 25px;
    margin-right: 20px;
   }
   .svg-quiz {
 width: 80px;
 height: 20px;
   }
    /* ``````````````````````````````````````````````````````````` */
   .footer-container {
    width: 1214px;
    border: 1px solid #9c7200;
border-radius: 20px;
width: 1214px;
height: 807px;
display: flex;
margin-right: auto;
margin-left: auto;
padding-bottom: 0;
   }
   .pc-version-footer {
    border-radius: 20px 0 0 20px;
width: 627px;
height: 807px;
   }

   .footer-div {
    margin-left: 0;
    margin-bottom: 44px;
    padding-bottom: 0;
     height: 153px;
     padding-left: 25px;
   }
   .container-form {
    width: 627px;
height: 807px;
background: #b4a478;
border: 1px solid #9c7200;
  border-top-right-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 20px;
   }
  
   .logo-part-footer  {
    font-family: var(--font-family);
font-weight: 800;
font-size: 48px;
text-transform: uppercase;
color: #ffa600;
   }
.logo-container-footer {
    font-family: var(--font-family);
font-weight: 800;
font-size: 48px;
text-transform: uppercase;
color: #000;
/* padding-bottom: 44px; */
}
.btc-logo {
    width: 200px;
height: 127px;
}
.footer-logo {
    width: 348px;
height: 152px;

}
.text-container {
    width: 537px;
height: 467px;
padding: 0;
}
.text-footer {
    font-family: var(--font-family);
font-weight: 500;
font-size: 36px;
color: #fff;
padding-bottom: 0;
/* padding-bottom: 63px; */
}
.text-h3 {
    font-family: var(--font-family);
font-weight: 300;
font-size: 32px;
color: #fff;
padding: 0;
}
.footer-h2-container {
    padding-bottom: 62px;
    display: flex;
    gap:15px;
    flex-direction: column;
}
.input-footer {
    border-radius: 20px;
padding: 12px 44px 12px 40px;
width: 370px;
height: 43px;
font-family: var(--font-family);
font-weight: 300;
font-size: 30px;
color: #202020;
}
.input-footer::placeholder {
    font-family: var(--font-family);
font-weight: 300;
font-size: 30px;
color: #202020;
}
   .form-footer {
   padding-top: 226px;
  width: 455px;
  gap: 30px;
  padding-bottom: 65px;
   }
   .btn-submit {
    border-radius: 20px;
padding: 12px 49px;
width: 445px;
height: 80px;
font-family: var(--font-family);
font-weight: 500;
font-size: 36px;
color: #d9d9d9;
   }
}
