:root {
       background-color: #1E1E1E;
}
body {
    /* font-family: Roboto, sans-serif; */
    color:#434455;
    /* background-color:#fff; */
    font-family: "Gothic A1", sans-serif;
    background-color: #1E1E1E;
} 
.container {
    /* width: 375px; */
height: 705px;
margin-left: auto;
margin-top: 0;
margin-right: auto;


}
.svg {
    border: 1px solid #000;
width: 90px;
height: 90px;
}
ul,ol {
    list-style-type: none;
    padding-left: 0;
}
a {
    text-decoration:none;
}
.contacts {
    font-style: normal;
}
.header {
    padding-top: 53px;
height: 812px;

text-align: center;
background-image: url("/images/back.png"); /* шлях до фото */
  background-size: cover;       /* щоб фото розтягувалося на весь екран */
  background-position: center;  /* вирівнювання по центру */
  background-repeat: no-repeat; /* щоб не повторювалось */
}
.header-container {
    height: 705px;
    width: 300px;
    margin-left: auto;
margin-right: auto;
}
.header-div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 67px;
    margin-left: auto;
margin-right: auto;
height: 26px;
}
.tel-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.tel-mail:focus,
.tel-mail:hover {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#404bbf;
}

 
.st-section {
    background-color:#2e2f42;
}
.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff; 
}
button {
    cursor:pointer;
    
} 
.order-button {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color:#4D5AE5;
}

.order-button:focus,
.order-button:hover {
background-color:#404BBF;
}
a {
    color:#2E2F42;

}
.logo-container {
      display: flex;
flex-wrap: wrap;
}
.logo {
 font-family: var(--font-family);
font-weight: 700;
font-size: 10px;
text-transform: uppercase;
color: #777;
 display: flex;
flex-wrap: nowrap;

  /* margin-left: auto;
margin-right: auto;
width: 67px;
height: 26px; */
  /* display: flex;
flex-wrap: wrap; */
}
.logo-part {
font-family: var(--font-family);
font-weight: 700;
font-size: 10px;
text-transform: uppercase;
color: #db944b;
}
.nav-list {
  display: flex;
flex-wrap: nowrap;
padding-bottom: 40px;
}
 .nav-list .header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-item:hover {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    color: #404bbf;
}
.header-item:focus {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    color: #404bbf;
}
.title-header {
font-family: var(--font-family);
font-weight: 600;
font-size: 32px;
text-align: center;
color: #fff;
padding-bottom: 44px;
margin: 0;
}
.header-list {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 300px;
    padding: 22px 0;
    margin-top: 0;
    margin-bottom: 60px;
}
.information-header {
  font-family: "Gothic A1", sans-serif;
  font-weight: 200;
  font-style: normal;
font-size: 20px;
text-align: center;
color: #fff;
margin: 0;

text-align: center;
}
.btn-header {
    border-radius: 20px;
padding: 10px 46px;
width: 250px;
height: 50px;
background: linear-gradient(81deg, #110d01 3.89%, #ffd769 46.2%, #9c7200 73.74%, #9c7200 83.05%);
font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #fff;
}


/* ------------------------------------------------------ */
.quiz-list {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin: 0;
}
.list-card {
   margin-right: auto;
margin-left: auto; 
padding-left: 0;
margin-top: 0;
 background-color: #1E1E1E;
}
.card {
    border: 1px solid #9c7200;
border-radius: 20px;
width: 290px;
height: 515px;
background: #0f0f0f;
  margin-right: auto;
margin-left: auto; 

}
.card-div {
  display: flex;
    flex-wrap: nowrap;
 
    flex-direction: row;
    width: 67px;
    /* margin-left: auto; */
margin-right: auto;
height: 26px;  
}
.container-card {
    width: 242px;
height: 469px;
padding-left: 24px;
padding-right: 24px;
padding-top: 24px;
padding-bottom: 30px;
margin-right: auto;
margin-left: auto;
}
.card-logo {
    /* margin-right: auto; */
 font-family: var(--font-family);
font-weight: 700;
font-size: 10px;
text-transform: uppercase;
color: #777;
 display: flex;
flex-wrap: nowrap;
}
.container-data {
margin-right: auto;
margin-left: auto;
}
.title-card {
    font-family: var(--font-family);
font-weight: 600;
font-size: 15px;
text-align: center;
color: #fff;
}
.img-card {
    border-radius: 10px;
width: 200px;
height: 155px;
margin-right: 21px;
margin-left: 21px;
padding-bottom: 20px;
}
.list-input {
padding-bottom: 15px;
}
/* input {
    border-radius: 10px;
padding: 5px 10px;
width: 242px;
height: 25px;
background: #4d4d4d;

font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
color: #fff;
} */
.radio-label {
  display: flex;
  align-items: center;
  gap: 8px; /* відстань між кружечком і текстом */
  cursor: pointer;
  background: #4d4d4d;
  border-radius: 10px;
  padding: 5px 10px;
  width: 222px;
  margin-top: 0;
  margin-bottom: 5px;
  /* margin: 5px 0; */

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}

/* ховаємо стандартний інпут */
.radio-label input {
  display: none;
}

/* сам кружечок */
.custom-radio {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bebebe;
  flex-shrink: 0; /* щоб не стискався */
}

/* коли вибраний */
.radio-label input:checked + .custom-radio {
  background: #db944b;
}
.svg-quiz {
    margin-left: auto;
    margin-right: auto;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ------------------------------------------- */

.footer-container {
    width: 459px;
height: 378px;
background: linear-gradient(129deg, #4e3a00 0%, #debf6c 100%);
}
/* .input-quiz {
        border-radius: 10px;
    padding: 5px 10px;
    width: 222px;
    height: 25px;
    background: #4d4d4d;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    justify-content: center;
    align-items: center;
} */
/* .advantages-titles {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
} 
.advantages-item {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.rd-section {
   background-color: #F4F4FD;
}
   .rd-section-item {
    background-color: #FFFFFF;
}
.team-main {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
}
.team-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.team-position {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.portf-title {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portf-descr {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.advice {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
.logo-footer {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-page {
    background-color: #2e2f42;
} */